.filter {
  margin-bottom: 1.6875rem;
  &__applyField {
    border-bottom: 2px solid #fff;

    @include breakpoint-bigger-than(large) {
      border-bottom: 2px solid $superLightGray;
      width: 300px;
    }

    &--symbol {
      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__inputContainer {
    display: flex;
    flex-direction: column;
    padding: 0.3125rem;

    label {
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 1.0625rem;
      }
    }

    input[type="checkbox"] {
      margin-right: 0.375rem;
    }

    &.open {
      visibility: visible;
    }

    &.close {
      display: none;
      visibility: hidden;
      height: 0;
      padding: 0;
    }
  }
}
