.filters {
  margin-bottom: 1.5625rem;

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint-bigger-than(large) {
      display: none;
    }
  }

  &__underlay {
    visibility: hidden;
    height: 0;

    @include breakpoint-bigger-than(large) {
      height: auto;
      visibility: visible;
    }

    &.mobileOpen {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
      color: #fff;
      background-color: $mainBlack;
      height: 100vh;
      animation: open 300ms ease-in-out forwards;
    }

    &--container {
      @include breakpoint-smaller-than(medium) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-size: 0.8125rem;
      text-transform: uppercase;
      padding-left: 0.3125rem;
      margin-bottom: 2.625rem;

      @include breakpoint-bigger-than(large) {
        color: $lightGray;
      }

      .plus {
        visibility: hidden;
      }

      .apply {
        visibility: visible;
        cursor: pointer;
      }
    }
  }
}
