.filter {
  margin-bottom: 1.6875rem;
  &__applyField {
    // display: flex;
    // justify-content: space-between;
    // width: 327px;
    // font-size: 1.125rem;
    // padding-right: 0.3125rem;
    // padding-left: 0.3125rem;
    // padding-bottom: 0.6875rem;
   
    // cursor: pointer;

    @include breakpoint-bigger-than(large) {
      border-bottom: 2px solid $superLightGray;
      width: 300px;
    }

    &--symbol {
      // font-weight: 600;
      // transition: transform 300ms ease-in-out;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__inputContainer {
    display: flex;
    flex-direction: column;
    padding: 0.3125rem;

    input[type="checkbox"] {
      margin-right: 0.375rem;
    }

    &.open {
      visibility: visible;
    }

    &.close {
      display: none;
      visibility: hidden;
      height: 0;
      padding: 0;
    }
  }
}
