.filter {
  margin-bottom: 1.6875rem;
  &__applyField {
    border-bottom: 2px solid #fff;

    @include breakpoint-bigger-than(large) {
      border-bottom: 2px solid $superLightGray;
      width: 300px;
    }

    // &.close {
    //   visibility: hidden !important ;
    // }
    &--title {
      text-transform: capitalize;
    }

    &--symbol {
      &.openFilter {
        transform: rotate(180deg);
      }

      @include breakpoint-smaller-than(medium) {
        &.mobileClose {
          visibility: hidden !important;
        }
      }
    }
  }

  &__inputContainer {
    display: flex;
    flex-direction: column;
    padding: 0.3125rem;

    label {
      text-transform: capitalize;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 1.0625rem;
      }
    }

    input[type="checkbox"] {
      margin-right: 0.375rem;
    }

    &.openFilter {
      visibility: visible;
    }

    &.closeFilter {
      display: none;
      visibility: hidden;
      height: 0;
      padding: 0;
    }

    @include breakpoint-smaller-than(medium) {
      &.mobileClose {
        visibility: hidden !important;
      }
    }
  }
}
