.footer {
  margin-bottom: 117px;

  &__flex {
    display: flex;
    flex-direction: column;

    @include breakpoint-bigger-than(medium) {
      border-top: 1px solid #c2c2c2;
      padding-top: 3.8625rem;
    }
    @include breakpoint-bigger-than(large) {
      order: 2;
      flex-direction: row;
      align-items: center;
      margin: 0 1rem;
    }
  }

  &__sns {
    display: flex;
    justify-content: center;
    margin-bottom: 3.3775rem;

    @include breakpoint-bigger-than(large) {
      order: 2;
      margin-bottom: auto;
    }
    a {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 2.6875rem;
      }

      @include breakpoint-bigger-than(large) {
        &:first-child {
          margin-left: 8rem;
        }
        &:not(:first-child) {
          margin-left: 2.8125rem;
        }
      }
    }

    > i {
      .MuiSvgIcon-root {
        width: 1.4325rem;
        height: 1.4325rem;
      }
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8125rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 4.25rem;
  }

  .link {
    color: $mainBlack;

    @include breakpoint-bigger-than(large) {
      display: flex;
      flex-direction: row;
    }

    a {
      display: inline-block;
    }
  }

  &__links1 {
    margin: 0 auto;
    margin-bottom: 1.9375rem;
    a {
      &:not(:first-child) {
        margin-left: 3.25rem;
      }

      @include breakpoint-bigger-than(large) {
        &:not(:first-child) {
          margin-left: 4.375rem;
        }
      }
    }
  }

  &__links2 {
    margin: 0 auto;
    a {
      &:not(:first-child) {
        margin-left: 2.8125rem;
      }

      @include breakpoint-bigger-than(medium) {
        margin-left: 4.375rem;
      }
    }
  }
}
