*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

select,
option {
  -webkit-appearance: none;
}

//default link style (master mobile,so default color is white)
a {
  color: $mainBlack;
  text-decoration: none;
  transition: color 200ms ease-in-out;

  &.active {
    color: $lightGray;
  }

  &:hover {
    color: $lightGreen;
  }
}

.container {
  max-width: 1326px;
  margin: 0 auto;

  @include breakpoint-smaller-than(medium) {
    max-width: 686px;
    margin: 0 auto;
  }

  &--pall {
    padding: 1rem;
  }

  &--pt {
    padding-top: 1rem;
  }
  &--pr {
    padding-right: 1rem;
  }
  &--pb {
    padding-bottom: 1rem;
  }
  &--pl {
    padding-left: 1rem;
  }
  &--ptb {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &--prl {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.hamburgerMenu {
  cursor: pointer;
  margin-left: 1rem;

  > span {
    display: block;
    width: 30px;
    height: 3px;
  }
}

.applyField {
  display: flex;
  justify-content: space-between;
  width: 327px;
  font-size: 1.125rem;
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.6875rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid $superLightGray;
  cursor: pointer;

  .symbol {
    font-weight: 600;
    transition: transform 300ms ease-in-out;
  }
}
