.header {
  margin-top: 2.75rem;
  margin-bottom: 1.75rem;

  @include breakpoint-bigger-than(large) {
    margin-top: 1.625rem;
    margin-bottom: 4.25rem;
  }

  &__container {
    position: relative;
  }

  .overlay.open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    visibility: visible;

    @include breakpoint-bigger-than(large) {
      background-color: transparent;
      height: 0;
    }
  }

  //hide on desktop
  &__mobile {
    display: flex;
    @include breakpoint-bigger-than(large) {
      display: none;
    }
  }

  //hide until hamburger is clicked
  &__mobileOverlayMenu {
    position: absolute;
    width: 95%;
    visibility: hidden;

    // show Menus when open class is added
    &.open {
      visibility: visible;
      padding: 0 1.125rem;
    }
    //show X when open class is added
    .hamburgerMenu.open {
      position: absolute;
      top: 15px;
      right: 0;
      visibility: visible;
      padding: 0 1rem;

      > span {
        transition: all 300ms ease-in-out;
        transform-origin: 10px 2px;
        background-color: #fff;
      }
      > span:first-child {
        transform: rotate(40deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-39deg);
      }
    }

    ul {
      margin-top: 3rem;

      li {
        font-size: 1.125rem;
        &:not(:last-child) {
          margin-bottom: 2.625rem;
        }
      }
    }
  }

  &__mobileUnderlay {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .cart {
      color: $mainBlack;
    }

    // default 3 lines hamburger menu
    .hamburgerMenu {
      > span {
        background-color: $darkBlack;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }

  &__desktop {
    display: none;

    @include breakpoint-bigger-than(large) {
      font-size: 0.8125rem;
      font-weight: 700;
      flex-direction: row;
      display: flex;
    }
  }

  //hide on mobile
  &__desktopLeft {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    display: none;

    @include breakpoint-bigger-than(large) {
      flex-direction: row;
      display: flex;
    }

    .logo {
      width: 42px;
    }

    ul {
      display: flex;
      flex-direction: column;

      @include breakpoint-bigger-than(large) {
        flex-direction: row;
      }

      li {
        text-transform: uppercase;

        &:first-child {
          margin-left: 2.925rem;
        }

        &:not(:first-child) {
          margin-left: 2.625rem;
        }
        a {
          &:hover {
            color: $lightGreen;
          }
        }
      }
    }
  }

  &__desktopRight {
    display: none;

    a {
      text-transform: uppercase;
    }
    @include breakpoint-bigger-than(large) {
      display: flex;
      align-items: center;
    }

    .login {
      margin-left: 2.75rem;
    }
  }
}
