.orders {
  margin-bottom: 5rem;

  &__container {
    display: grid;
    gap: 1rem;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(1, 300px);
    margin-bottom: 5rem;

    @include breakpoint-bigger-than(medium) {
      grid-template-columns: repeat(2, 300px);
    }

    @include breakpoint-bigger-than(large) {
      grid-template-columns: repeat(3, 300px);
    }
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    color: #fff;
    background-color: $lightGray;
  }

  &__purchaseButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    @include breakpoint-bigger-than(large){
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      text-align: center;
  }
}

.allSum{
  font-size: 1.5rem;
  font-weight: 800;

  @include breakpoint-smaller-than(medium){
    margin-bottom: 1rem;
  }
}

.overlayLoginForm{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.5);
}
}
