.products {
  display: grid;
  place-items: center;
  margin-bottom: 3.265rem;

  &__container {
    display: grid;
    margin-bottom: 4.25rem;
    @include breakpoint-bigger-than(medium) {
      grid-template-columns: repeat(2, 300px);
      gap: 2.6875rem;
      min-height: 80vh;
    }

    @include breakpoint-bigger-than(large) {
      grid-template-columns: repeat(3, 300px);
      gap: 2.0625rem;
    }
  }

  &__pages {
    display: flex;
    justify-content: center;
    max-width: 300px;

    @include breakpoint-bigger-than(large) {
      max-width: 722px;
    }
  }
}
