.products {
  display: grid;
  margin-bottom: 4.25rem;

  @include breakpoint-bigger-than(medium) {
    grid-template-columns: repeat(2, 300px);
    gap: 2.6875rem;
  }

  @include breakpoint-bigger-than(large) {
    grid-template-columns: repeat(3, 300px);
    gap: 2.6875rem;
    margin-left: 2.5rem;
  }

  &____pages {
    > a {
      display: block;
    }
  }
}
