.sb {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  @include breakpoint-bigger-than(large) {
    margin-bottom: 1.4375rem;
    flex-direction: row;
    align-items: baseline;
  }
  .search {
    flex: 1;
    border-bottom: 2px solid $superLightGray;
    width: 329px;
    margin-bottom: 2rem;

    &__field {
      display: flex;
      align-items: center;
      padding-bottom: 0.75rem;
      padding-right: 0.3125rem;
      .searchIcon {
        width: 20px;
        height: 20px;
        color: $superLightGray;
        @include breakpoint-bigger-than(large) {
          width: 24px;
          height: 24px;
        }
      }
      input {
        border: none;
        width: 100%;

        @include breakpoint-bigger-than(large) {
          font-size: 1.625rem;
          font-weight: 600;
        }

        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
}
