*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

select,
option,
input[type="text"],
input[type="button"],
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

.button {
  cursor: pointer;
  color: #fff;
  background-color: #131313;
  border: 1px solid #131313;
  width: 264px;
  height: 47px;
  margin-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 800;
  letter-spacing: 3px;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.button:hover {
  background-color: #00c98d;
  border: 1px solid #00c98d;
}

a {
  color: #22232b;
  text-decoration: none;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

a.active {
  color: #979797;
}

a:hover {
  color: #00c98d;
}

.container {
  max-width: 1326px;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .container {
    max-width: 686px;
    margin: 0 auto;
  }
}

.container--pall {
  padding: 1rem;
}

.container--pt {
  padding-top: 1rem;
}

.container--pr {
  padding-right: 1rem;
}

.container--pb {
  padding-bottom: 1rem;
}

.container--pl {
  padding-left: 1rem;
}

.container--ptb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container--prl {
  padding-right: 1rem;
  padding-left: 1rem;
}

.hamburgerMenu {
  cursor: pointer;
  margin-left: 1rem;
}

.hamburgerMenu > span {
  display: block;
  width: 30px;
  height: 3px;
}

.applyField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 327px;
  font-size: 1.125rem;
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
  padding-bottom: 0.6875rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #97979766;
  cursor: pointer;
}

.applyField .symbol {
  font-weight: 600;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.overlay.close {
  visibility: hidden;
  opacity: 0;
}

@-webkit-keyframes open {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes open {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.open {
  -webkit-animation: open 300ms ease-in-out forwards;
          animation: open 300ms ease-in-out forwards;
}

@-webkit-keyframes close {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes close {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.overlay.close {
  -webkit-animation: close 300ms ease-in-out forwards;
          animation: close 300ms ease-in-out forwards;
}

.loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.loginForm__container {
  width: 31.25rem;
  background-color: #979797;
  border-radius: 5px;
  min-height: 50vh;
  -webkit-box-shadow: 3px 3px 10px #97979766;
          box-shadow: 3px 3px 10px #97979766;
}

.loginForm__inputWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: inherit;
}

.loginForm__inputWrapper .userInput {
  cursor: pointer;
  width: 70%;
  min-width: 264px;
  height: 50px;
  border-radius: 3px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 10px;
  margin-bottom: 3rem;
}

.cart {
  position: relative;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.cart:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cart__itemsNumber {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid #00c98d;
  border-radius: 50%;
  padding: 2px;
  letter-spacing: 1px;
  color: #fff;
  background: #00c98d;
  font-size: 10px;
  min-width: 1rem;
  text-align: center;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin-bottom: 2.75rem;
  background: #fff;
}

@media (min-width: 64em) {
  .header {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 3rem;
  }
}

.header__container {
  position: relative;
}

.header .overlay.open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  visibility: visible;
  z-index: 20;
}

@media (min-width: 64em) {
  .header .overlay.open {
    background-color: transparent;
    height: 0;
  }
}

.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 64em) {
  .header__mobile {
    display: none;
  }
}

.header__mobileOverlayMenu {
  position: absolute;
  left: 0;
  width: 98%;
  visibility: hidden;
  z-index: 30;
}

.header__mobileOverlayMenu.open {
  visibility: visible;
  padding-left: 1.125rem;
}

.header__mobileOverlayMenu .hamburgerMenu.open {
  position: absolute;
  top: 15px;
  right: 0;
  visibility: visible;
  padding: 0 1rem;
}

.header__mobileOverlayMenu .hamburgerMenu.open > span {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 10px 2px;
          transform-origin: 10px 2px;
  background-color: #fff;
}

.header__mobileOverlayMenu .hamburgerMenu.open > span:first-child {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.header__mobileOverlayMenu .hamburgerMenu.open > span:nth-child(2) {
  opacity: 0;
}

.header__mobileOverlayMenu .hamburgerMenu.open > span:last-child {
  -webkit-transform: rotate(-39deg);
          transform: rotate(-39deg);
}

.header__mobileOverlayMenu ul {
  margin-top: 3rem;
}

.header__mobileOverlayMenu ul li {
  font-size: 1.125rem;
}

.header__mobileOverlayMenu ul li:not(:last-child) {
  margin-bottom: 2.625rem;
}

.header__mobileOverlayMenu ul li a {
  color: #fff;
}

.header__mobileOverlayMenu ul li a:hover {
  color: #00c98d;
}

.header__mobileUnderlay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.header__mobileUnderlay .cart {
  color: #22232b;
}

.header__mobileUnderlay .hamburgerMenu > span {
  background-color: #131313;
}

.header__mobileUnderlay .hamburgerMenu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__desktop {
  display: none;
}

@media (min-width: 64em) {
  .header__desktop {
    font-size: 0.8125rem;
    font-weight: 700;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__desktopLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media (min-width: 64em) {
  .header__desktopLeft {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__desktopLeft .logo {
  width: 42px;
}

.header__desktopLeft ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .header__desktopLeft ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__desktopLeft ul li {
  text-transform: uppercase;
}

.header__desktopLeft ul li:first-child {
  margin-left: 2.925rem;
}

.header__desktopLeft ul li:not(:first-child) {
  margin-left: 2.625rem;
}

.header__desktopLeft ul li a:hover {
  color: #00c98d;
}

.header__desktopRight {
  display: none;
}

.header__desktopRight a {
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .header__desktopRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__desktopRight .login {
  margin-left: 2.75rem;
}

.sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .sb {
    margin-bottom: 1.4375rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.sb .search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 2px solid #97979766;
  width: 329px;
  margin-bottom: 2rem;
}

.sb .search__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.75rem;
  padding-right: 0.3125rem;
}

.sb .search__field .searchIcon {
  width: 20px;
  height: 20px;
  color: #97979766;
}

@media (min-width: 64em) {
  .sb .search__field .searchIcon {
    width: 24px;
    height: 24px;
  }
}

.sb .search__field .clearSearch {
  cursor: pointer;
  color: #979797;
}

.sb .search__field input {
  border: none;
  width: 100%;
}

@media (min-width: 64em) {
  .sb .search__field input {
    font-size: 1.625rem;
    font-weight: 600;
  }
}

.sb .search__field input:focus {
  border: none;
  outline: none;
}

.bestMatch {
  cursor: pointer;
}

@media (max-width: 63.9375em) {
  .bestMatch {
    margin-bottom: 1.75rem;
  }
}

@media (min-width: 64em) {
  .bestMatch {
    width: 298px;
    margin-left: 2.8125rem;
  }
}

.bestMatch__selectField {
  position: relative;
  width: 327px;
  border-bottom: 2px solid #97979766;
}

@media (min-width: 64em) {
  .bestMatch__selectField {
    width: 298px;
  }
}

.bestMatch__selectField::after {
  content: "+";
  color: #000;
  right: 5px;
  top: 4px;
  height: 26px;
  position: absolute;
  pointer-events: none;
  font-weight: 600;
  font-size: 1.125rem;
}

.bestMatch__selectField select {
  width: 327px;
  border: none;
  outline: none;
  padding-bottom: 0.6875rem;
  font-size: 1.125rem;
}

@media (min-width: 64em) {
  .bestMatch__selectField select {
    width: 298px;
    padding-bottom: 0.625rem;
  }
}

.productsFilterContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
}

@media (min-width: 64em) {
  .productsFilterContainer {
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    place-items: unset;
  }
}

.filters {
  margin-bottom: 1.5625rem;
}

.filters__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .filters__overlay {
    display: none;
  }
}

.filters__underlay {
  visibility: hidden;
  height: 0;
}

@media (min-width: 64em) {
  .filters__underlay {
    height: auto;
    visibility: visible;
  }
}

.filters__underlay.mobileOpen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  color: #fff;
  background-color: #22232b;
  height: 100vh;
  -webkit-animation: open 300ms ease-in-out forwards;
          animation: open 300ms ease-in-out forwards;
}

@media (max-width: 63.9375em) {
  .filters__underlay--container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 50vh;
    overflow-y: scroll;
  }
  .filters__underlay--container::-webkit-scrollbar {
    display: none;
  }
}

.filters__underlay--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding-left: 0.3125rem;
  margin-bottom: 2.625rem;
}

@media (min-width: 64em) {
  .filters__underlay--title {
    color: #979797;
  }
}

.filters__underlay--title .plus {
  visibility: hidden;
}

.filters__underlay--title .minus {
  visibility: visible;
  font-size: 1.5rem;
  cursor: pointer;
}

.filter {
  margin-bottom: 1.6875rem;
}

.filter__applyField {
  border-bottom: 2px solid #fff;
}

@media (min-width: 64em) {
  .filter__applyField {
    border-bottom: 2px solid #97979766;
    width: 300px;
  }
}

.filter__applyField--title {
  text-transform: capitalize;
}

.filter__applyField--symbol.openFilter {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 63.9375em) {
  .filter__applyField--symbol.mobileClose {
    visibility: hidden !important;
  }
}

.filter__inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.3125rem;
}

.filter__inputContainer label {
  text-transform: capitalize;
  cursor: pointer;
}

.filter__inputContainer label:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.filter__inputContainer input[type="checkbox"] {
  margin-right: 0.375rem;
}

.filter__inputContainer.openFilter {
  visibility: visible;
}

.filter__inputContainer.closeFilter {
  display: none;
  visibility: hidden;
  height: 0;
  padding: 0;
}

@media (max-width: 63.9375em) {
  .filter__inputContainer.mobileClose {
    visibility: hidden !important;
  }
}

.priceRange__title {
  width: 100%;
  margin-bottom: 1.5625rem;
}

.priceRange__sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 0.625rem;
  margin-bottom: 1.5625rem;
}

.priceRange__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.priceRange__slider p {
  margin-top: 0.625rem;
}

.priceRange__slider .minPrice {
  position: absolute;
  left: 0;
}

.priceRange__slider .maxPrice {
  position: absolute;
  right: 0;
}

.priceRange__slider input {
  width: 51%;
}

.priceRange__slider input:nth-child(2) {
  width: 50%;
}

.priceRange .slider {
  -webkit-appearance: none;
  max-width: 300px;
  height: 1px;
  background: #fff;
  outline: none;
  opacity: 0.95;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

@media (min-width: 64em) {
  .priceRange .slider {
    height: 5px;
    background: #97979766;
  }
}

.priceRange .slider:hover {
  opacity: 1;
}

.priceRange .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 3px solid #000;
  border-radius: 50%;
  background: #fff;
}

@media (min-width: 64em) {
  .priceRange .slider::-webkit-slider-thumb {
    border: 2px solid #000;
    background: #fff;
  }
}

.priceRange .slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

@media (max-width: 87.4375em) {
  .priceRange .slider::-moz-range-thumb {
    border: 2px solid #000;
    background: #fff;
  }
}

.footer {
  margin-bottom: 117px;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 40em) {
  .footer__flex {
    border-top: 1px solid #c2c2c2;
    padding-top: 3.8625rem;
  }
}

@media (min-width: 64em) {
  .footer__flex {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 1rem;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.3775rem;
}

@media (min-width: 64em) {
  .footer__sns {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: auto;
  }
}

.footer__sns a {
  display: inline-block;
}

.footer__sns a:not(:first-child) {
  margin-left: 2.6875rem;
}

@media (min-width: 64em) {
  .footer__sns a:first-child {
    margin-left: 8rem;
  }
  .footer__sns a:not(:first-child) {
    margin-left: 2.8125rem;
  }
}

.footer__sns > i .MuiSvgIcon-root {
  width: 1.4325rem;
  height: 1.4325rem;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 4.25rem;
}

.footer .link {
  color: #22232b;
}

@media (min-width: 64em) {
  .footer .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .link a {
  display: inline-block;
}

.footer__links1 {
  margin: 0 auto;
  margin-bottom: 1.9375rem;
}

.footer__links1 a:not(:first-child) {
  margin-left: 3.25rem;
}

@media (min-width: 64em) {
  .footer__links1 a:not(:first-child) {
    margin-left: 4.375rem;
  }
}

.footer__links2 {
  margin: 0 auto;
}

.footer__links2 a:not(:first-child) {
  margin-left: 2.8125rem;
}

@media (min-width: 40em) {
  .footer__links2 a {
    margin-left: 4.375rem;
  }
}

.topSlider {
  position: relative;
  z-index: -100;
  margin-bottom: 5.01rem;
}

@media (min-width: 40em) {
  .topSlider {
    margin-bottom: 6.59rem;
  }
}

.topSlider .overlay {
  position: relative;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  background-image: url("../Images/couch-mobile.svg");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  height: 22.125rem;
  z-index: -100;
}

@media (min-width: 64em) {
  .topSlider .overlay {
    background-image: url("../Images/sofa-184555_1920 1.svg");
    background-size: 82.875rem 35rem;
    background-position: center center;
    background-repeat: no-repeat;
    height: 35rem;
    margin: 0 auto;
  }
}

.topSlider__typography {
  position: absolute;
  top: 0;
  z-index: -100;
  padding-top: 6.5625rem;
  padding-left: 2.3125rem;
}

@media (min-width: 64em) {
  .topSlider__typography {
    padding-top: 4rem;
    padding-left: 5.75rem;
  }
}

.topSlider__typography h1,
.topSlider__typography p {
  color: #fff;
}

.topSlider__typography h1 {
  font-size: 1.5rem;
}

@media (min-width: 64em) {
  .topSlider__typography h1 {
    font-size: 3rem;
  }
}

.topSlider__typography p {
  font-size: 1.125rem;
  width: 128px;
  border-bottom: 1px solid #fff;
}

@media (min-width: 64em) {
  .topSlider__typography p {
    font-size: 1.625rem;
    width: 183px;
  }
}

.products {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 3.265rem;
}

.products__container {
  display: -ms-grid;
  display: grid;
  margin-bottom: 4.25rem;
}

@media (min-width: 40em) {
  .products__container {
    -ms-grid-columns: (300px)[2];
        grid-template-columns: repeat(2, 300px);
    gap: 2.6875rem;
    min-height: 80vh;
  }
}

@media (min-width: 64em) {
  .products__container {
    -ms-grid-columns: (300px)[3];
        grid-template-columns: repeat(3, 300px);
    gap: 2.0625rem;
  }
}

.products__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
}

@media (min-width: 64em) {
  .products__pages {
    max-width: 722px;
  }
}

.product {
  position: relative;
  z-index: 0;
  width: 300px;
  height: 346px;
  margin-bottom: 1.5625rem;
  cursor: pointer;
  border: 0px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (min-width: 64em) {
  .product:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    border: 1px solid #97979733;
  }
}

.product__image {
  width: 100%;
  height: 257px;
  vertical-align: bottom;
}

.product__detailsLeft {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 191px;
  height: 126px;
}

.product__detailsLeft-title {
  text-transform: capitalize;
  padding-top: 2.0625rem;
  padding-bottom: 0.3125rem;
  font-size: 1rem;
}

.product__detailsLeft-type {
  color: #979797;
  text-transform: uppercase;
  font-size: 0.6875rem;
}

.product__detailsRight {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: right;
}

.product__detailsRight-price {
  padding-bottom: 1.0625rem;
}

.product__detailsRight > img {
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.product__detailsRight > img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.productDetail {
  margin-bottom: 3rem;
}

@media (min-width: 64em) {
  .productDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 64em) {
  .productDetail__left {
    margin-right: 1.0625rem;
    margin-bottom: 3rem;
  }
}

.productDetail__left .detailTopImg {
  display: block;
  width: 414px;
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  margin-bottom: 2.75rem;
}

@media (min-width: 40em) {
  .productDetail__left .detailTopImg {
    width: 683px;
    height: 330px;
  }
}

.productDetail__left-desktopImgSlider {
  display: none;
  cursor: pointer;
}

@media (min-width: 64em) {
  .productDetail__left-desktopImgSlider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 400px;
  }
  .productDetail__left-desktopImgSlider img {
    width: 69px;
    height: 36px;
  }
  .productDetail__left-desktopImgSlider img:hover {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
}

.productDetail__right {
  width: 264px;
  margin: 0 auto;
  padding-bottom: 5.625rem;
  text-transform: capitalize;
}

@media (min-width: 64em) {
  .productDetail__right {
    margin: 0;
  }
}

.productDetail__right-typoGraph h1 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.productDetail__right-typoGraph .description {
  width: 191px;
  font-size: 0.6875rem;
  margin-bottom: 1rem;
}

.productDetail__right-typoGraph .price {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.productDetail__right-typoGraph .dispatchWithin {
  text-transform: uppercase;
  margin-bottom: 1.625rem;
}

.productDetail__right-colors {
  cursor: pointer;
  margin-bottom: 3.5625rem;
}

.productDetail__right-colors > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productDetail__right-colors > ul .colorCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.productDetail__right-colors > ul .colorCircle:not(:last-child) {
  margin-right: 0.6875rem;
}

.productDetail__right-colors > ul .colorCircle:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.productDetail__right .detailToggler {
  color: #131313;
  background-color: #fff;
  margin-bottom: 1.1875rem;
  vertical-align: middle;
}

.productDetail__right .detailToggler:hover {
  background-color: #00c98d;
}

.productDetail__right .detailToggler > span {
  font-size: 0.8rem;
}

.productDetail__right-details {
  font-size: 0.5625rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-bottom: -90px;
}

.productDetail__right-details > p:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.orders {
  margin-bottom: 5rem;
}

.orders__container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  place-items: center;
  place-content: center;
  -ms-grid-columns: (300px)[1];
      grid-template-columns: repeat(1, 300px);
  margin-bottom: 5rem;
}

@media (min-width: 40em) {
  .orders__container {
    -ms-grid-columns: (300px)[2];
        grid-template-columns: repeat(2, 300px);
  }
}

@media (min-width: 64em) {
  .orders__container {
    -ms-grid-columns: (300px)[3];
        grid-template-columns: repeat(3, 300px);
  }
}

.orders__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80vh;
  color: #fff;
  background-color: #979797;
}

.orders__purchaseButton {
  width: 100%;
  text-align: center;
}

.order {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 300px;
}

.order__itemImage {
  position: relative;
  margin-bottom: 0.5rem;
}

.order__itemImage > img {
  width: 100%;
  height: 200px;
}

.order__itemImage > span {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #fff;
  display: block;
  background: #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.order__itemName {
  margin-bottom: 0.5rem;
}

.order__itemName h3 {
  text-transform: capitalize;
}

.order__priceQuantityWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__priceQuantityWrapper-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.order__priceQuantityWrapper-quantity > span {
  padding: 0 1rem;
}

.order__priceQuantityWrapper-quantity .remove {
  color: #fff;
  border: 1px solid red;
  background-color: red;
  border-radius: 50%;
  padding: 0;
  width: 25px;
  height: 25px;
}

.order__priceQuantityWrapper-quantity .add {
  color: #fff;
  border: 1px solid #00c98d;
  background-color: #00c98d;
  border-radius: 50%;
  padding: 0;
  width: 26px;
  height: 25px;
}

.page {
  display: block;
  cursor: pointer;
  padding: 0.75rem;
  font-size: 0.8125rem;
  color: #22232b;
  -webkit-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
}

.page:not(:first-child) {
  margin-left: 2.375rem;
}

.page:hover {
  background-color: #00c98d;
  color: #fff;
}

.page.current {
  color: #fff;
  background-color: #00c98d;
}
/*# sourceMappingURL=style.css.map */